{% extends "enrollment/base.html" %}
{% load compressed %}
{% load cache %}
{#{% block styles %}#}
{#    {% compressed_css 'userslist' %}#}
{#{% endblock %}#}

{% block main-subtitle %}Lista pracowników{% endblock %}

{#{% block js %}#}
{#    {% compressed_js 'employeelist' %}#}
{#{% endblock %}#}

{% block bread %}
    <a href="{% url 'main-page' %}" class="breadcrumb-item">Strona główna</a>
    <a href="{% url 'enrollment-main' %}" class="breadcrumb-item">Zapisy</a>
    <a href="#" class="breadcrumb-item active">Pracownicy</a>
{% endblock %}
{% block enrollment_menu_employees %} class="active"{% endblock %}

{#{% block content %}#}
{#    <div class="p-0">#}
{#        <div class="alert alert-info alert-dismissible fade show">#}
{#            <p>Wybierz pracownika z listy</p>#}
{#            <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
{#                <span aria-hidden="true">&times;</span>#}
{#            </button>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

{% block sidebar %}
    {% cache 10000 employees_list char %}
        <div class="row">
            <div class="col-4 offset-9">
                <div id="main-sidebar">
                    <div id="employees-list">
                        <h2>Lista pracowników</h2>
                        <ul class="employees">
                            {% for e in employees %}
                                <li><a href="{% url 'employee-profile' e.user.id %}"
                                       class="employee-profile-link">{{ e.get_full_name }}</a>
                                    <input type='hidden' name='employee-id' value='{{ e.id }}'/>
                                    <input type='hidden' name='employee-email' value='{{ e.user.email }}'/>
                                    <input type='hidden' name='employee-short_old'
                                           value='{{ e.user.first_name|slice:":1" }}{{ e.user.last_name|slice:":2" }}'/>
                                    <input type='hidden' name='employee-short_new'
                                           value='{{ e.user.first_name|slice:":2" }}{{ e.user.last_name|slice:":2" }}'/>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endcache %}
{% endblock %}

{% block topContent %}
    <div class="card bg-light mb-1">
        <div class="card-title pl-2"><strong>Filtrowanie</strong></div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-6">
                    <div class="input-group mb-2 mb-sm-0">
                        <label class="sr-only" for="filterCourse">Wyszukaj pracownika</label>
                        <input type="text" class="form-control" id="filterCourse"
                                {% if query %} value="{{ query }}"{% endif %}>
                        <div class="input-group-addon">
                            <a href="#" class="badge">X</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="float-left">
                        <a href="{% url 'consultations-list' %}">Konsultacje</a>
                    </div>
                    <div class="float-right">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="{% url 'employees-char-list' 'A' %}"
                                   class="{% if char == 'A' %} active{% endif %}">{{ item }}</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'employees-char-list' 'B' %}"
                                   class="{% if char == 'B' %} active{% endif %}">B</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'employees-char-list' 'C' %}"
                                   class="{% if char == 'C' %} active{% endif %}">C</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'employees-char-list' 'D' %}"
                                   class="{% if char == 'D' %} active{% endif %}">D</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'employees-char-list' 'E' %}"
                                   class="{% if char == 'E' %} active{% endif %}">E</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'employees-char-list' 'F' %}"
                                   class="{% if char == 'F' %} active{% endif %}">F</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'employees-char-list' 'G' %}"
                                   class="{% if char == 'G' %} active{% endif %}">G</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'employees-char-list' 'H' %}"
                                   class="{% if char == 'H' %} active{% endif %}">H</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'employees-char-list' 'I' %}"
                                   class="{% if char == 'I' %} active{% endif %}">I</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'employees-char-list' 'J' %}"
                                   class="{% if char == 'J' %} active{% endif %}">J</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'employees-char-list' 'K' %}"
                                   class="{% if char == 'K' %} active{% endif %}">K</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'employees-char-list' 'L' %}"
                                   class="{% if char == 'L' %} active{% endif %}">L</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'employees-char-list' 'M' %}"
                                   class="{% if char == 'M' %} active{% endif %}">M</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'employees-char-list' 'N' %}"
                                   class="{% if char == 'N' %} active{% endif %}">N</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'employees-char-list' 'O' %}"
                                   class="{% if char == 'O' %} active{% endif %}">O</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'employees-char-list' 'P' %}"
                                   class="{% if char == 'P' %} active{% endif %}">P</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'employees-char-list' 'R' %}"
                                   class="{% if char == 'R' %} active{% endif %}">R</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'employees-char-list' 'S' %}"
                                   class="{% if char == 'S' %} active{% endif %}">S</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'employees-char-list' 'T' %}"
                                   class="{% if char == 'T' %} active{% endif %}">T</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'employees-char-list' 'U' %}"
                                   class="{% if char == 'U' %} active{% endif %}">U</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'employees-char-list' 'W' %}"
                                   class="{% if char == 'W' %} active{% endif %}">W</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'employees-char-list' 'Y' %}"
                                   class="{% if char == 'Y' %} active{% endif %}">Y</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'employees-char-list' 'Z' %}"
                                   class="{% if char == 'Z' %} active{% endif %}">Z</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'employees-char-list' 'All' %}"
                                   class="{% if char == 'All' %} active{% endif %}">Wszyscy</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}