{% extends "base.html" %}
{% load i18n %}
{% load news_extras %}

{% block enrollment_active %} class="active"{% endblock %}

{% block system_menu %}
    <li{% block enrollment_menu_courses %} class="nav-item"{% endblock %}>
        <a href="{% url 'enrollment-main' %}" class="nav-link">
            {# Translators: Poziome menu na górze #}{% trans "Przedmioty" %}
        </a>
    </li>
    {% if user.student or user.employee %}
        <li{% block enrollment_menu_schedule %} class="nav-item"{% endblock %}>
            <a href="{% url 'schedule-own' %}" class="nav-link">{% trans "Plan zajęć" %}</a>
        </li>
    {% endif %}
    <li{% block enrollment_menu_prototype %} class="nav-item"{% endblock %}>
        <a href="{% url 'schedule-prototype' %}" class="nav-link">{% trans "Prototyp planu" %}</a>
    </li>
    <li{% block enrollment_menu_employees %} class="nav-item"{% endblock %}>
        <a href="{% url 'employees-list' %}" class="nav-link">{% trans "Pracownicy" %}</a>
    </li>
    {% if user.student or user.employee or user.is_staff %}
        <li{% block enrollment_menu_students %} class="nav-item"{% endblock %}>
            <a href="{% url 'students-list' %}" class="nav-link">{% trans "Studenci" %}</a>
        </li>
    {% endif %}
    {% if perms.courses.view_stats %}
        <li{% block enrollment_statistics %} class="nav-item"{% endblock %}>
            <a href="{% url 'statistics:main' %}" class="nav-link">{% trans "Statystyki" %}</a>
        </li>
    {% endif %}
{% endblock %}
