{% extends "statistics/base.html" %}

{% block students_active %} class="active"{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="text-muted">
            <tr>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Ostatnio</th>
                <th scope="col">Index</th>
                <th scope="col">ECTS</th>
                <th scope="col">Punkty w semestrze</th>
                <th scope="col">T0</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.user.first_name }}</td>
                    <td>{{ student.user.last_name }}</td>
                    <td>{{ student.user.last_login }}</td>
                    <td>{{ student.matricula }}</td>
                    <td>{{ student.ects }}</td>
                    <td>{{ student.semester_points }}</td>
                    <td>{{ student.t0_min|date:"d E Y, G:i" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}