{% load i18n %}

<div id="enr-coursesList-top-bar" class="card bg-light mb-3">
    <div class="card-body row">
        <div class="col">
            <div class="card">
                <div class="card-body bg-light mb-3">
                    <div class="card-title">{% trans "Filtrowanie" %}</div>
                    <div class="input-group mb-2 mb-sm-0">
                        <label class="sr-only" for="filterCourse">Wyszukaj kurs</label>
                        <input type="text" class="form-control" id="filterCourse" placeholder="Wyszukaj kurs">
                        <div class="input-group-addon">
                            <a href="#" class="badge">X</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body bg-light mb-3">
                    <div class="card-title">{% trans "Rodzaj przedmiotu" %}</div>
                    <div id="course-types">
                        {% for type in types_list %}
                            {% if not type.media_type %}
                                <div class="form-check">
                                    <label class="form-check-label" for="filter-course-type-{{ type.id }}">
                                        <input class="form-check-input" type="checkbox"
                                               id="filter-course-type-{{ type.id }}" value="{{ type.id }}" checked>
                                        &nbsp;{{ type.name }}
                                    </label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body bg-light mb-3">
                    <div class="card-title">{% trans "Inne" %}</div>
                    {% if custom_filters != None %}
                        {% include custom_filters %}
                    {% endif %}
                    <div>
                        <div class="form-check">
                            <label class="form-check-label" for="enr-courseFilter-english">
                                <input class="form-check-input" type="checkbox"
                                       id="enr-courseFilter-english" checked>
                                &nbsp;{% trans "Pokaż przedmioty prowadzone w j. angielskim" %}
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="form-check">
                            <label class="form-check-label" for="enr-courseFilter-exam">
                                <input class="form-check-input" type="checkbox"
                                       id="enr-courseFilter-exam" checked>
                                &nbsp;{% trans "Pokaż przedmioty kończące się egzaminem" %}
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="form-check">
                            <label class="form-check-label" for="enr-courseFilter-suggestedForFirstYear">
                                <input class="form-check-input" type="checkbox"
                                       id="enr-courseFilter-suggestedForFirstYear">
                                &nbsp;{% trans "Pokaż tylko przedmioty zalecane dla 1 roku" %}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{#                    <div id="tagsEffectsFilters" style="display: none">#}
{#                        <hr class="filterListDivider">#}
{#                        <br>#}
{#                        <legend><span>{% trans "Efekty kształcenia" %}</span></legend>#}
{#                        <div>#}
{#                            <label style="font-size: 11px"><input id="effectsSearchEnabled" type="checkbox"#}
{#                                                                  onclick="onEffectsFilterToggled();">&nbsp;Włącz#}
{#                                filtrowanie po efektach kształcenia</label>#}
{#                            <select disabled="disabled" id="enr-courseFilter-effects" class="courseListMultipleSelect"#}
{#                                    multiple>#}
{#                                {% for effect in effects %}#}
{#                                    <option value="{{ effect.id }}">{{ effect.group_name }}</option>#}
{#                                {% endfor %}#}
{#                            </select>#}
{#                        </div>#}
{##}
{#                        <hr class="filterListDivider">#}
{#                        <br>#}
{#                        <legend><span>{% trans "Tagi" %}</span></legend>#}
{#                        <div>#}
{#                            <label style="font-size: 11px"><input id="tagsSearchEnabled" type="checkbox"#}
{#                                                                  onclick="onTagsFilterToggled();">&nbsp;Włącz#}
{#                                filtrowanie po tagach</label>#}
{#                            <select disabled="disabled" id="enr-courseFilter-tags" class="courseListMultipleSelect"#}
{#                                    multiple>#}
{#                                {% for tag in tags %}#}
{#                                    <option value="{{ tag.id }}">{{ tag.full_name }}</option>#}
{#                                {% endfor %}#}
{#                            </select>#}
{#                        </div>#}
{#                        <hr class="filterListDivider">#}
{#                        <p class="tagsEffectsFilterHint">#}
{#                            {% trans "Możesz zaznaczyć wiele tagów/efektów naraz. Wyświetlone zostaną wówczas wszystkie przedmioty, które zaliczają co najmniej jeden z wybranych tagów/efektów (alternatywa logiczna)." %}#}
{#                        </p>#}
{#                    </div>#}
{#                    <div class="showMoreFiltersContainer">#}
{#                        <a id="tagsEffectsFiltersToggle" href="javascript: void(0)"#}
{#                           onclick="effectsTagsFiltersToggled();">#}
{#                            pokaż filtry efektów/tagów#}
{#                        </a>#}
{#                    </div>#}
{#                </fieldset>#}
{#            </td>#}
{#            <td>#}

{#                    <div class="showMoreFiltersContainer">#}
{#                        <a id="extraCourseTypeFiltersToggle" href="javascript: void(0)">#}
{#                            pokaż więcej filtrów#}
{#                        </a>#}
{#                    </div>#}
{#                </fieldset>#}
{#            </td>#}
{#            <td>#}
{#                <fieldset id="enr-coursesList-other">#}
{#                    <legend><span>{% trans "Inne" %}</span></legend>#}
{#                    {% if custom_filters != None %}#}
{#                        {% include custom_filters %}#}
{#                    {% endif %}#}
{#                    <ol class="filterList">#}
{#                        {% comment %}#}
{#                {% if user.student %}#}
{#                    <li class="checkbox">#}
{#                    <input type="checkbox" id="enr-hidesigned" /><label for="enr-hidesigned">{% trans "Schowaj przedmioty, na które byłem zapisany" %}</label>#}
{#                    </li>#}
{#                {% else %}#}
{#                    <li class="checkbox" style="display: none;">#}
{#                    <input type="checkbox" id="enr-hidesigned"/><label for="enr-hidesigned">{% trans "Schowaj przedmioty, na które byłem zapisany" %}</label>#}
{#                    </li>#}
{#                {% endif %}#}
{#                {% endcomment %}#}