{% extends "newbase.html" %}

{% load compressed %}

{% block styles %}
{% compressed_css 'mainpage' %}
{% compressed_css 'news' %}
{% endblock %}

{% block main-subtitle %}Strona główna{% endblock %}


{% block js %}
{% compressed_js 'news' %}
{% endblock %}

{% block all-content %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container container-fluid">
            <div class="col">
                <h4 class="display-4">Aktualności</h4>
                <div class="od-news-list">
                    {% for news in recent_news %}
                    <div class="od-news-item p-3">
                        <h3>{{ news.title }}</h3>
                        <span class="od-news-date">{{ news.date|date:"l, d.m.Y - G:i" }}
                            &mdash; {{ news.author.get_full_name }}</span>
                        <p>{{ news.body|safe }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col offset-md-10">
                <a class="btn btn-primary" href="{% url 'news-all' %}">Więcej aktualności</a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <h4 class="display-3">System Zapisów</h4>
            <p class="lead">System zapisów na zajęcia w Instytucie Informatyki Uniwersytetu Wrocławskiego.</p>
            <a class="btn btn-secondary" href="{% url 'course-list' %}">Przejdź</a>
        </div>
        <div class="col">
            <h4 class="display-3">Oferta Dydaktyczna</h4>
            <p class="lead">System kształtowania oferty dydaktycznej w Instytucie Informatyki.</p>
            <a class="btn btn-secondary" href="{% url 'offer-main' %}">Przejdź</a>
        </div>
        <div class="col">
            <h4 class="display-3">Ocena zajęć</h4>
            <p class="lead">System oceny zajęć w Instytucie Informatyki Uniwersytetu Wrocławskiego.</p>
            <a class="btn btn-secondary" href="{% url 'grade-main' %}">Przejdź</a>
        </div>
    </div>
{% endblock %}
