{% extends "enrollment/courses/base.html" %}
{% load i18n %}
{% load compressed %}

{% block main-subtitle %}{% trans "Przedmioty" %}{% endblock %}

{% block styles %}
    {% compressed_css 'courseview' %}
{% endblock %}

{% block bread %}
    <a href="{% url "main-page" %}" class="breadcrumb-item">{% trans "Strona główna" %}</a>
    <a href="{% url "course-list" %}" class="breadcrumb-item active">{% trans "Przedmioty" %}</a>&nbsp;
    {% if user.is_staff %}
        <a id="enr-course-edit-link" href="" class="breadcrumb-item hidden">{% trans "Edytuj przedmiot" %}</a>
    {% endif %}
{% endblock %}

{% block topContent %}
    <div class="row">
        <div class="col-12 pl-1">
            {% include "common/course_list_filters.html" with custom_filters="enrollment/semesterChooser.html" %}
        </div>
    </div>
{% endblock %}

{% block enrollment_menu_courses %} class="nav-item active"{% endblock %}

{% block content %}
{% endblock %}
