{% load i18n %}
<div>
    <h3>{% trans "Konsultacje prowadzących" %}:</h3>
    {% if employees %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">{% trans "Imię i nazwisko" %}</th>
                <th scope="col">{% trans "Pokój" %}</th>
                <th scope="col">{% trans "Konsultacje" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
                <tr>
                    <td>
                        <a href="{% url 'employee-profile' employee.user.id %}" class="person">
                            {{ employee.user.get_full_name }}
                        </a>
                    </td>
                    <td>{{ employee.room|default:"" }}</td>
                    <td>{{ employee.consultations }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% trans "Brak informacji" %}.
    {% endif %}
    <hr>
</div>