{% extends "schedule/base.html" %}
{% load bootstrap_pagination %}

{% block bread %}
    <li class="breadcrumb-item"><a href="{% url 'main-page' %}">Strona główna</a></li>
    <li class="breadcrumb-item"><a href="{% url 'events:classrooms' %}">Sale</a></li>
    <li class="breadcrumb-item active" aria-current="page">Zarządzaj</li>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>{{ title }}</h2>

        {% for event in qs %}
            <div>
            {% include "schedule/includes/reservation_view.html" with event=event title=title %}
                
            </div>
        {% empty %}
            Brak wyników dla zapytania
        {% endfor %}

        <div class="d-flex justify-content-center">
            {% bootstrap_paginate qs range=10 show_first_last="true" %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="container" id="main-sidebar">
        <form action="" class="form-stacked">
            <fieldset>
              <legend>Filtr</legend>
              {% for field in events.form %}
                <div class="clearfix">
                    {{ field.label_tag }}
                <div class="input">
                    {{ field }}
                </div>
              </div><!-- /clearfix -->
                {% endfor %}

            </fieldset>
            <input type="submit" value="Filtruj" class="btn btn-success">
        </form>
    </div>
{% endblock %}